MONGO_URI=mongodb+srv://dummymailme_db_user:manishsingh@finance.ykj5rds.mongodb.net
PORT=8000
NODE_ENV=development

# Email
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="Wakeru" <noreply@wakeru.com>

# JWT Secrets
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Firebase Configuration
# Download this JSON file from your Firebase Console -> Project Settings -> Service Accounts -> Generate new private key
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
